################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoadMonitoringSystem/bin/Debug/net7.0
/RoadMonitoringSystem/obj
/RoadMonitoringSystem/.vs
/RoadMonitoringSystem/wwwroot
