################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoadMonitoringSystem/bin/Debug/net7.0
/RoadMonitoringSystem/obj
/RoadMonitoringSystem/.vs
/RoadMonitoringSystem/wwwroot
/Task4/arkpz-pzpi-22-6-harmaiev-mykhailo-task4/IoTSensorSimulator/bin/Debug/net7.0
/.vs
/Task4/arkpz-pzpi-22-6-harmaiev-mykhailo-task4/IoTSensorSimulator/obj
/Task4/arkpz-pzpi-22-6-harmaiev-mykhailo-task4/IoTSensorSimulator/.vs
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/.vs
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/bin/Debug/net7.0
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/obj
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/Pages
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/wwwroot/lib
/Task2/arkpz-pzpi-22-6-harmaiev-mykhailo-task2/RoadMonitoringSystem/wwwroot
/RoadMonitoringSystem/bin/Release/net7.0
/IoTSensorSimulator/obj/Release/net7.0
